# Node dependencies / Frontend
node_modules/
.next/
dist/
build/

# Python / FastAPI
__pycache__/
*.pyc
.venv/
venv/

# Environment variables & secrets
.env
.env.local

#database
*.sqlite3
.vscode/
.idea/